<nav class="navbar navbar-expand-lg bg-danger ">
    <div class="container-fluid ">
      <a class="navbar-brand  text-white " href="#">
      <div class="container-fluid titulo row">
        <div class="icono col-2">
          <img class="iconoSecu" src="../../assets/LogoSecu2.png" alt="">
        </div>
        <div class="textitos col-5">
          <p class="textito1 tracking-in-expand">Escuela Secundaria</p>
          <h1 class="textito2 tracking-in-expand">Antonio Toro</h1>
        </div>
      </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse tracking-in-expand" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link nav-text" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-text" href="#">¿Quienes somos?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-text" href="#">Directivos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-text" href="#">Contactanos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>