<h2 class="titulos">Listado de alumnos</h2>
<div id="botones">
    <button class="boton" (click)="mostrar6to()">6to año</button>
</div>
<div class="container-fluid" *ngIf="muestra6to">
    <br>
    <h3 class="titulos">Listado de {{curso}}</h3>
    <table class="col-12">
        <tr class="container-fluid">
            <th class="col-4">Nombre</th>
            <th class="col-4">Apellido</th>
            <th class="col-4">Asistencia</th>
        </tr>
        <tr class="container-fluid" *ngFor="let alumno of alumnos6to">
            <td [ngClass]="alumno.asistencia ? 'presente':'ausente'">{{alumno.Nombre}}</td>
            <td [ngClass]="alumno.asistencia ? 'presente':'ausente'">{{alumno.Apellido}}</td>
            <td>
                <button class="col-6" >Ausente</button>
                <button class="col-6" >Presente</button>
            </td>
        </tr>
    </table>
</div>
